.main-image-container {
  width: 80%;
  height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  margin: 0 auto;
  background-color: #f9f9f9;
}

.main-image {
  width: 100%; /* Allow the image to take the full width of the container */
  height: 100%; /* Allow the image to take the full height of the container */
  object-fit: contain; /* Ensures the entire image is visible without cropping */
  object-position: center; /* Centers the image within the container */
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  opacity: 1;
}

.main-image.fade-out {
  opacity: 0;
  transform: scale(1.1);
}

.thumbnail-strip {
  overflow-x: auto;
  padding: 10px;
}

.thumbnail {
  margin: 5px;
  transition: transform 0.3s ease;
}

.thumbnail:hover {
  transform: scale(1.3);
}

.activeImg {
  transform: scale(1.3);
}
.transition-text {
  transition: opacity 0.5s ease, transform 0.5s ease;
  opacity: 1;
  transform: translateY(0);
}

.transition-text.hidden {
  opacity: 0;
  transform: translateY(10px); /* Moves text slightly down when hidden */
}

.transition-text.visible {
  opacity: 1;
  transform: translateY(0); /* Resets position */
}
/* @media (max-width: 720px) {
  .main-image {
    height: auto; 
    width: auto; 
  }
}  */
